@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

/******************* CSS RESET ******************************/
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	/* background: ;
	color: ; */
	-webkit-font-smoothing: antialiased;
}

body,
span,
input,
button {
	/* font-family: "Nunito", sans-serif; */
	font-family: "Roboto", sans-serif;
}

button {
	cursor: pointer;
}

p {
	color: #031231;
}

/******************* Template Colors ************************/

cores sig {
	color: #0d6efd;
	color: #2e83ce;
	color: rgb(42, 64, 110);
	color: rgb(176, 39, 38);
}

.signorelli-blue {
	background-color: #2a406e;
}

.signorelli-red {
	background-color: #b02726;
}

.red-gradient {
	background-image: linear-gradient(
		to bottom left,
		rgb(176, 39, 38, 0.7),
		rgb(176, 39, 38, 1)
	);
}

.blue-gradient {
	background-image: linear-gradient(
		to bottom left,
		rgb(42, 64, 110, 0.7),
		rgb(42, 64, 110, 1)
	);
}

/* ***********************************************************/
/* ***********************************************************/
/* *********************** Global ****************************/
/* ***********************************************************/
/* ***********************************************************/

.screen-width {
	width: 100vw;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.column-flow {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

/* ***********************************************************/
/* ***********************************************************/
/* ******************* Element Styles ************************/
/* ***********************************************************/
/* ***********************************************************/

#navbar-section {
	position: fixed;
	top: -3vw;
	z-index: 1;
	width: 100%;
}

#navbar-social-container {
	display: flex;
	justify-content: space-evenly;
	background-color: #031231;
	padding: 5vw 2vw 2vw 2vw;
}

.social-icon {
	font-size: 9vw;
	color: white;
}

#logo-unisignorelli-navbar {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#logo-unisignorelli {
	max-width: 100%;
}

#navbar {
	display: flex;
	top: 0;
	width: 100vw;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

#main-links-container a {
	color: white;
	font-size: 3vw;
	text-decoration: none;
	padding: 1vw 0;
}

#main-links-container {
	background-color: #2a406e;
	padding: 2vw 0;
}
