@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

/******************* CSS RESET ******************************/
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	/* background: ;
	color: ; */
	-webkit-font-smoothing: antialiased;
}

body,
span,
input,
button {
	/* font-family: "Nunito", sans-serif; */
	font-family: "Roboto", sans-serif;
}

button {
	cursor: pointer;
}

p {
	color: #031231;
}

/******************* Template Colors ************************/

cores sig {
	color: #0d6efd;
	color: #2e83ce;
	color: rgb(42, 64, 110);
	color: rgb(176, 39, 38);
}

.signorelli-blue {
	background-color: #2a406e;
}

.signorelli-red {
	background-color: #b02726;
}

.red-gradient {
	background-image: linear-gradient(
		to bottom left,
		rgb(176, 39, 38, 0.7),
		rgb(176, 39, 38, 1)
	);
}

.blue-gradient {
	background-image: linear-gradient(
		to bottom left,
		rgb(42, 64, 110, 0.7),
		rgb(42, 64, 110, 1)
	);
}

/* ***********************************************************/
/* ***********************************************************/
/* *********************** Global ****************************/
/* ***********************************************************/
/* ***********************************************************/

.screen-width {
	width: 100vw;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.margin-spacing-v {
	margin: 5vw 0;
}

.padding-spacing-h {
	padding-left: 2vw;
	padding-right: 2vw;
}

.column-flow {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.blink_me {
	animation: blinker 10s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

/* ***********************************************************/
/* ***********************************************************/
/* ******************* Element Styles ************************/
/* ***********************************************************/
/* ***********************************************************/

/* .solid-navbar-background {
	min-width: 100%;
	min-height: 70vw;
	background-color: white;
} */

#navbar-section {
	position: sticky;
	top: 0vw;
	z-index: 999;
	width: 100%;
}

#navbar-social-container {
	display: flex;
	justify-content: space-evenly;
	background-color: #031231;
	padding: 5vw 2vw 2vw 2vw;
}

.social-icon {
	font-size: 9vw;
	color: white;
}

#logo-unisignorelli-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#logo-unisignorelli {
	max-width: 22vw;
	min-width: 22vw;
}

#navbar {
	display: flex;
	top: 0;
	width: 100vw;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

#main-links-container {
	background-color: #2a406e;
	padding: 2vw 5vw;
}

#main-links-container a {
	color: white;
	font-size: 3.3vw;
	text-decoration: none;
	padding: 3vw 0;
	margin: 0;
	font-weight: 500;
}

#red-buttons-container {
	display: flex;
	justify-content: center;
	padding: 2vw 0;
}

#red-buttons-container button {
	margin: 0 1vw;
	font-size: 3vw;
	font-weight: 300;
	width: 30vw;
	padding: 1vw 0vw;
	background-color: #b02726;
	color: white;
}

#red-buttons-container button:hover,
#main-links-container a:hover {
	opacity: 0.8;
}

/************** MATRICULA FORM */

#form-accordion-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	background-color: #b02726;
	color: white;
	font-weight: 700;
	cursor: pointer;
}

#lead-form-container {
	text-align: center;
	display: flex;
}
#lead-form-container :is(fieldset, span, label) {
	display: flex;
	flex-flow: column nowrap;
}

#lead-form-container legend {
	font-size: 3vw;
	font-weight: 400;
}

#lead-form {
	font-size: small;
	display: flex;
	align-items: center;
	position: relative;
	background-color: #720000;
	margin: 1vw 2vw;
	padding: 2vw 4vw;
	border-radius: 2%;
	color: #fff;
}

/************* WHATSAPP BUTTON */

.whatsapp-float {
	position: fixed;
	width: 100px;
	height: 100px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 70px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.whatsapp-float:visited,
.whatsapp-float:hover {
	color: #fff;
	opacity: 0.95;
}

.my-float {
	margin-top: 16px;
}

/********************** FOOTER */

#main-footer {
	padding-top: 8vh;
	padding-bottom: 8vh;
}
#main-footer h4 {
	color: white;
}

.footer-links-list-solid,
.footer-links-list a {
	color: #b0b7f0;
	text-decoration: none;
}

.footer-links-list a:hover {
	opacity: 0.5;
}

.footer-links-list li {
	list-style-type: none;
}

.footer-links-list span {
	color: #fff;
}

.border-link {
	border: 1px;
	border-style: solid;
	border-color: #b02726;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	color: #b0b7f0;
	text-decoration: none;
}

.border-link:hover,
.border-link:hover a {
	background-color: #b02726;
	cursor: pointer;
	color: #b0b7f0;
}
